name: Publish Python distributions to TestPyPI

on: push

jobs:
    build-n-publish:
      name: Build and publish to TestPyPI
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v3
      - name: Set up Python for building and publishing
        uses: actions/setup-python@v4
        with:
            python-version: "3.x"
      - name: Install pypa/build
        run: >-
            python -m
            pip install
            build
            --user
      - name: Build python distribution for publishing
        run: >-
            python -m
            build
            --sdist
            --wheel
            --outdir dist/
      - name: Publish distribution to Test PyPI
        uses: pypa/gh-actions-pypi-publish@release/v1
        with:
            password: ${{ secrets.TEST_PYPI_API_TOKEN }}
            repository-url: https://test.pypi.org/simple/
